{% extends "base.html" %}

{% block page_meta %}
<meta name="title" content="{{ blog.title }} | Archive">
<meta name="description" content="{{ blog.description }}">
<!-- Google will often use this as its description of your page/site. Make it good. -->

<meta name="author" content="{{ blog.author }}">
<meta name="Copyright" content="{{ blog.copyright }}">

<!-- Dublin Core Metadata : http://dublincore.org/ -->
<meta name="DC.title" content="{{ blog.title }} | Archive">
<meta name="DC.subject" content="{{ blog.description }}">
<meta name="DC.creator" content="{{ blog.author }}">
{% endblock page_meta %}

{% block content %}
	<h3>blog achive</h3>
	{% for y in counts|reverse() %}
		<div class="row">
			<div class="span1"><b>{{ y }}</b></div>
			<div class="span11">
				<div class="row">
					{% for m in range(1,13) %}
						<div class="span1">
							{% if counts[y][m] > 0 %}<a href="{{ blog.url }}{{ y }}/{{ m }}/">{{ _months_short[m] }}</a>
							{% else %} {{ _months_short[m] }}
							{% endif %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	{% endfor %}
	<hr />
{% endblock %}
