{% extends "base.html" %}

{% block content %}
<div id="home">
	<h1>"{{ tag_name }}" tag archive</a> | {{ index|length() }} posts</h1>
{% for subindex in index|groupby('_date.year')|reverse() %}
<div class="entry">
	<h2 class="entry-title">{{ subindex.grouper }} | {{subindex.list|length()}} posts</h2>
	<ul class="archive">
		{% for p in subindex.list %}
		<li><span class="date">{{ p._date.strftime("%d-%m-%Y")  }}</span> 
		<a href="{{p._url}}">{% if p.title %}{{ p.title }}{% else %}#{% endif %}</a>
			{% if p.tags %}
				<small> [tags: {% for t in p.tags %}<a href="{{ blog.url }}tag/{{ t }}/">{{ t }}</a> {% endfor %}]</small>
			{% endif %}
			</li>
		{% endfor %}
	</ul>
</div>
{% endfor %}
</div>

{% endblock %}
