{% extends "base.html" %}

{% block content %}
	
	<h3>"{{ tag_name }}" tag archive</a> | {{ index|length() }} posts</h3>
	{% for subindex in index|groupby('year')|reverse() %}
		<h3 class="entry-title">{{ subindex.grouper }} | {{subindex.list|length()}} posts</h3>
			{% for p in subindex.list %}
				<div class="row-fluid">
					<div class="span2 muted">{{ p.meta.date.strftime("%d-%m-%Y")  }}</div>
					<div class="span10">
						<a href="{{p.meta.url}}">{% if p.meta.title %}{{ p.meta.title }}{% else %}#{% endif %}</a>
						{% if p.tags %}
							{% for t in p.meta.tags %}<a class="muted" href="{{ blog.url }}tag/{{ t }}/">#{{ t }}</a> {% endfor %}
						{% endif %}
					</div>
				</div>
			{% endfor %}
	{% endfor %}

{% endblock %}
