# Make sure you cahnge the values bellow to match your configuration
#

#contentDir: This is the path to the directory containing your original content (markdown, html, etc)
contentDir: ./content

#htmlDir: this is the path to the directory where the generated HTML files will go. 
# It should be a directory visible to your web server, something like /var/www/html/myblog
htmlDir: /home/vrypan/public_html/b3

#db_file: the path to the directory where the SQL Lite db file (blog.db), will be created.
db_file: ./internal

#templatePath: a list of paths where the django template engine will look for templates.
templatePath: [templates]

#baseURL: your blog URL. 
baseURL: http://g4lnx/~vrypan/b3 

blogTitle: a bucket3 blog
blogSubtitle: testing bucket3 on real-life data.
