{% extends "base.html" %}

{% block content %}
<div id="home">
	<h1>{{ _months[month] }} <a href="{{ blog.url}}{{year}}/">{{ year }}</a> <a href="{{ blog.url}}archive/">archive</a> | {{ index|length() }} posts</h1>
{% for subindex in index|groupby('_date.month')|reverse() %}
<div class="entry">
	{% if not month %}<h2 class="entry-title"><a href="{{blog.url}}{{ year }}/{{ subindex.grouper }}">{{ _months[subindex.grouper] }}</a> ( {{subindex.list|length()}} )</h2>{% endif %}
	<ul class="archive">
{% for p in subindex.list %}
<li><span class="date">{{ p._date.strftime("%d-%m-%Y")  }}</span> 
		<a href="{{p._url}}">{% if p.title %}{{ p.title }}{% else %}#{% endif %}</a>
	{% if p.tags %}
	<small> [tags: {% for t in p.tags %}<a href="{{ blog.url }}tag/{{ t }}/">{{ t }}</a> {% endfor %}]</small>
	{% endif %}
	</li>
{% endfor %}
</ul>

</div>
{% endfor %}
</div>

{% endblock %}
