{% extends "base.html" %}

{% block page_meta %}
<meta name="title" content="{{ blog.title }} | Archive">
<meta name="description" content="{{ blog.description }}">
<!-- Google will often use this as its description of your page/site. Make it good. -->

<meta name="author" content="{{ blog.author }}">
<meta name="Copyright" content="{{ blog.copyright }}">

<!-- Dublin Core Metadata : http://dublincore.org/ -->
<meta name="DC.title" content="{{ blog.title }} | Archive">
<meta name="DC.subject" content="{{ blog.description }}">
<meta name="DC.creator" content="{{ blog.author }}">
{% endblock page_meta %}

{% block content %}
<div id="home">
	<h1>blog achive</h1>
{% for y in counts|reverse() %}
	<dl class="archive_short">
		<dt>{{ y }}</dt>
		{% for m in range(1,13) %}
		<dd>
			{% if counts[y][m] > 0 %}<a href="{{ blog.url }}{{ y }}/{{ m }}/">{{ _months_short[m] }}</a>
			{% else %} {{ _months_short[m] }}
			{% endif %}
		</dd>
		{% endfor %}
	</dl>
{% endfor %}
</div>

{% endblock %}
