{% extends "base.html" %}

{% block page_meta %}
<meta name="title" content="{{ blog.title }} | Archive">
<meta name="description" content="{{ blog.description }}">
<!-- Google will often use this as its description of your page/site. Make it good. -->

<meta name="author" content="{{ blog.author }}">
<meta name="Copyright" content="{{ blog.copyright }}">

<!-- Dublin Core Metadata : http://dublincore.org/ -->
<meta name="DC.title" content="{{ blog.title }} | Archive">
<meta name="DC.subject" content="{{ blog.description }}">
<meta name="DC.creator" content="{{ blog.author }}">
{% endblock page_meta %}

{% block content %}
<div id="home">
	<h1>blog archive per year</h1>
{% for year, count in counts %}
<div class="entry">
	<h2 class="entry-title"><a href="{{ blog.url }}{{ year }}">{{ year }} | {{ count }} posts </h2>
</div>
{% endfor %}
</div>

{% endblock %}
