{% extends "base.html" %}

{% block page_meta %}
<meta name="title" content="{{ blog.title }} | Error 404 Page Not Found">
<meta name="description" content="Error 404: Page not found.">

<meta name="author" content="{{ blog.author }}">
<meta name="Copyright" content="{{ blog.copyright }}">

<meta name="DC.title" content="{{ blog.title }} | Error 404 Page Not Found">
<meta name="DC.subject" content="The page you requested was not found. Error 404.">
<meta name="DC.creator" content="{{ blog.author }}">
{% endblock page_meta %}


{% block content %}
<h3 class="entry-title">Error 404: page not found.</h3>
	<p>The page you requested was not found. </p>
{% endblock %}
