body { 
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	color: #000000; 
	font-weight: normal; 
	margin-left: 5em;
	margin-top: 3em;
	margin-right: 5em;
	font-size: 17px;
	/* line-height: 23px; */
} 

#header {
	margin: 2em 0 ;
}
#header h1 {
	/* font-family: Georgia, "Times New Roman", Times, serif;*/
	font-family: 'Arial Black', Arial, sans ;
	font-size: 36px;
	color: black;
	font-weight: normal;	
	margin: 0;
	line-height: 36px;
}
#header h1 a {
	text-decoration: none;
	color: #000 ;
}
#subheader {
	font-size: 14px;
}

#wrapper {
	width: 700px;
	margin: auto;
}
#sidebar {
	width: 700px;
	float: top;
	font-size: 11px;
	/* border-left: 4px #ddd solid; */
	color: #808080;
	margin-top: -1em ;
}
#sidebar a {
	color: #000;
}

#navTop, #navBottom {
	font-size: 11px;
}

#sidebar ul {
	padding-left: 0;
}
#sidebar ul li {
	list-style:none;
	display: inline;
	padding-left: 1ex;
}
#sidebar ul li:before {
	content: "\00BB \0020";
}

.entry {
	padding-left: 6px;
	border-left: 4px #ffffff solid ;
}
.entry:hover {
	border-left: 4px #ddd solid;
}

h1, .entry-title {
	font-size: 24px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #080000;
	line-height: 30px;
}
.entry-title {
	margin-left: -10px;
	margin-bottom: 0;
	margin-top: 2em;
	padding-bottom: 0.3ex;
	padding-left: 6px;
	border-left: 4px #000 solid ;
}
.entry-title a{
	color: #000;
	text-decoration: none;
}
.entry-title:before {
	content: ""; 
}
.entry-body {
	font-family: Georgia, 'Times New Roman', serif;
	line-height: 26px;
	color: #080000;
}
.entry-body p {
	margin-top: 12px;
	margin-bottom: 0;
}
.entry-body ul {
	list-style-type:square;
}
.entry-meta, .entry-body {
	margin-top: 0;
	margin-bottom: 1em;
	padding-bottom: 0;
	/* margin-left: 1em; */
}
.entry-meta { 
	font-size: 10px;
	color: #808080;
}
.entry-date, .entry-tags, .entry-mood { display: inline }

#content {
	width: 100%
}
#footer {
	clear: both;
	font-size: 10px;
	color: #808080;
	display: block;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 4em;
	padding: 1ex .5ex 1ex 2ex;
	border-top: 1px #808080 solid;
	text-align: right;
}

.archive-month {
	font-size: 120%;
	font-weight: bold;
}
.archive-date {
	font-size: 80%;
}
.archive-title {
	padding-left: 1em;
}

ul.archive {
	list-style-type: none;
	padding-left: 0;
}
ul.archive .date {
	display:inline-block;
	width: 6em;
	font-weight: normal;
	font-size: 12px;
	color: gray;
	letter-spacing: -0.1em;
}

.gist {
	font-size: 12px;
	}
dl {
	display: block;
	clear: both;
	width: 100%;
	height: 1ex;
}
dt {
	clear: both;
	width: 10%;
	text-align: left;
}
dd {
	width: 7.5%;
	text-align: center;
}
.archive_short dt, .archive_short dd {
	display: block;
	float: left;
	padding: 0.5ex 0 ;
	margin: 0;
	color: #999;
	font-size: 14px;
	border-bottom: 1px #ddd solid;
}

