/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font-size: 13px ;
font-family: Tahoma, Arial, Helvetica, serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
	font-family: Tahoma, helvetica, arial, clean, sans-serif;
}

h1 {
  margin-bottom: 0;
}

p {
  margin: 1em 0;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 100%;
  text-align: left;
  width: 40em;
  margin: 3em auto 3em auto;
}

.title {
  font-weight: bold;
  margin-bottom: 2em;
}

.site .title {
	font-family: "Arial Black", Arial, sans;
	font-size: 36px;
	color: black;
	font-weight: normal;	
}
  .site .title a, .site .title .a:visited {
	color: black;
    text-decoration: none;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
	font-size: 14px;
	font-weight: normal;
  }

  .site .title a.extra:hover {
    color: black;
  }

  .site .meta {
	margin-top: 0.2em;
    color: #aaa;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

    .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

      .site .footer .contact a {
        color: #8085C1;
      }

    .site .footer .rss {
      margin-top: 1.1em;
      margin-right: -.2em;
      float: right;
    }

      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
  }

    #post pre code {
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }