{% extends "base.html" %}

{% block content %}
{% for post in posts %}

<h1 class="entry-title"><a href="{{post.url}}">{{ post.title }}</a></h1>
<div class="entry-meta">
	<div class="entry-date">Posted on: {{ post.cre_dat|date:"D d.M.Y" }}</div>
	<div class="entry-tags">Tags: {% for t in post.tags %}{{ t }},{% endfor %} </div>
	{% if frontmatter.mood %}
	<div class="entry-mood">mood: {{ frontmatter.mood }}</div>
	{% endif %}
</div>
<div class="entry-body">
	{{ post.body|safe }}
</div>

{% endfor %}
{% endblock content %}

{% block navTop %}
	{% if page.prevPage %}
	<a href="{{ blog.baseURL }}/index_{{ page.prevPage }}.html">&lt;older posts</a>
	{% endif %}

	{% ifequal page.nextPage 0 %}
	<a href="{{ blog.baseURL }}/">newer posts&gt;</a>
	{% endifequal %}

	{% if page.nextPage %}
	<a href="{{ blog.baseURL }}/index_{{ page.nextPage }}.html">newer posts&gt;</a>
	{% endif %}
{% endblock navTop %}
