{% extends "base.html" %}

{% block content %}
{% for post in posts %}

<h2 class="entry-title"><a href="{{post.url}}">{{ post.title }}</a></h2>
<div class="entry-meta">
	<div class="entry-date">posted on {{ post.cre_date|date:"d/m/Y H:i" }}</div>
	{% if post.tags %}
	<div class="entry-tags">| tags: {% for t in post.tags %}{% if forloop.last %}{{ t }}{% else %}{{ t }}, {% endif %}{% endfor %} </div>
	{% endif %}
	{% if frontmatter.mood %}
	<div class="entry-mood">| mood: {{ post.frontmatter.mood }}</div>
	{% endif %}
</div>


<div class="entry-body">
	{{ post.body|safe }}
</div>

{% endfor %}
{% endblock content %}

{% block navTop %}
	{% if page.prevPage %}
	<a href="{{ blog.baseURL }}/page/{{ page.prevPage }}/">&lt;older posts</a>
	{% endif %}

	{% ifequal page.nextPage 0 %}
	<a href="{{ blog.baseURL }}/">newer posts&gt;</a>
	{% endifequal %}

	{% if page.nextPage %}
	<a href="{{ blog.baseURL }}/{{ page.nextPage }}/">newer posts&gt;</a>
	{% endif %}
{% endblock navTop %}
