{% extends "base.html" %}

{% block content %}
<a href="{{ blog.baseURL }}">&lt;home</a>

<div class="entry">
<h2 class="entry-title"><a href="{{page.url}}">{{ page.title }}</a></h2>
<div class="entry-meta">
	<div class="entry-date">posted on {{ page.cre_dat|date:"d/m/Y H:i" }}</div>
	{% if page.tags %}
	<div class="entry-tags">| tags: {% for t in page.tags %}{% if forloop.last %}{{ t }}{% else %}{{ t }}, {% endif %}{% endfor %} </div>
	{% endif %}
	{% if frontmatter.mood %}
	<div class="entry-mood">| mood: {{ frontmatter.mood }}</div>
	{% endif %}
</div>
<div class="entry-body">
	{{ page.body|safe }}
</div>
</div>
{% endblock %}
