body { 
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px; 
	color: #000000; 
	font-weight: normal; 
	margin-left: 5em;
	margin-top: 3em;
	margin-right: 5em;
} 
#header h1 {
	/* font-family: Georgia, "Times New Roman", Times, serif;*/
	font-family: Arial Black, Arial, sans ;
	font-size: 36px;
	color: black;
	font-weight: normal;	
}
#header h1 a {
	text-decoration: none;
	color: #000 ;
}

.entry {
	padding-left: 6px;
	border-left: 4px #ffffff solid ;
}
.entry:hover {
	border-left: 4px #ddd solid;
}

.entry-title {
	font-size: 16px;
	margin-left: -10px;
	margin-bottom: 0;
	margin-top: 2em;
	padding-bottom: 0.3ex;
	padding-left: 6px;
	border-left: 4px #000 solid ;
}
.entry-title a{
	color: #000;
	text-decoration: none;
}
.entry-title:before {
	content: ""; 
}
.entry-body p {
	margin-top: 3px;
	font-size: 13px;
	margin-bottom: 1ex;
	font-family: Tahoma, Arial, Helvetica, serif;
}
.entry-meta, .entry-body {
	margin-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	/* margin-left: 1em; */
}
.entry-meta { 
	font-size: 10px;
	color: #808080;
}
.entry-date, .entry-tags, .entry-mood { display: inline }

#content {
	width: 640px;
}
#footer {
	font-size: 10px;
	color: #808080;
	display: block;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 2em;
	padding: 1ex .5ex 1ex 2ex;
	border-top: 1px #808080 solid;
	text-align: right;
}

