body { 
	font-family: Tahoma, Helvetica, Arial, sans-serif; 
	font-size: 9pt; 
	color: #000000; 
	font-weight: normal; 
	margin-left: 10em;
	margin-right: 10em;
} 
.entry-title {
	font-size: 140%;
	margin-bottom: 0;
	padding-bottom: 0.5ex;
}
.entry-title a{
	color: #000;
}
.entry-title { font-size: 120%;}
.entry-title:before {
	content: "➧ "; 
}

.entry-meta, .entry-body {
	margin-left: 1em;
}
.entry-meta { font-size: 8pt; }
.entry-date, .entry-tags, .entry-mood { display: inline }

#content {
	width: 640px;
}
#footer {
	display: block;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 2em;
	padding: 1ex .5ex 1ex 2ex;
	border-top: 1px #000 solid;
	font-size: 8pt;
	text-align: right;
}

