body { 
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px; 
	color: #000000; 
	font-weight: normal; 
	margin-left: 10em;
	margin-right: 10em;
} 
.entry-title {
	font-size: 13px;
	margin-bottom: 0;
	padding-bottom: 0.5ex;
}
.entry-title a{
	color: #000;
	text-decoration: none;
}
.entry-title:before {
	content: "➧ "; 
}

.entry-meta, .entry-body {
	margin-left: 1em;
}
.entry-meta { 
	font-size: 10px;
	color: #808080;
}
.entry-date, .entry-tags, .entry-mood { display: inline }

#content {
	width: 640px;
}
#footer {
	font-size: 10px;
	color: #808080;
	display: block;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-top: 2em;
	padding: 1ex .5ex 1ex 2ex;
	border-top: 1px #808080 solid;
	text-align: right;
}

